/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header */
header {
    background: #eac8c8;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* About Section */
.about-section {
    padding: 2rem 0;
    background: #fff;
    text-align: center;
}

.about-section .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Projects Section */
.projects-section {
    padding: 2rem 0;
    background: #e2e2e2;
}

.projects-section .project {
    background: #f2f6ea;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Experiences Section */
.experiences-section {
    padding: 2rem 0;
    background: #e2e2e2;
}

.experiences-section .experience {
    background: #f2f6ea;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Contact Section */
.contact-section {
    padding: 2rem 0;
    background: #fff;
    text-align: center;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
